<div style='background-color:slategrey; padding:5px'>
  {{ input type='text' placeholder='type here' enter=(action 'addItem') }} 
</div>


<ul>
  {{#each this.model as |task|}}
  <Item @title={{task.title}} /> 
  {{/each}}
</ul>
{{outlet}}